body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav-element {
  margin: 0px 8px;
}

.login-user-list {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login-user-list-item {
  width: 250px;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 4px auto;
  background-color: gainsboro;
  border-radius: 4px;
}

.login-user-list-item:hover {
  background-color: gray;
  cursor: pointer;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.account {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.account-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 8px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.question {
  max-width: 360px;
  display: flex;
  margin: 16px auto;
  flex-flow: column nowrap;
  padding: 4px 16px;
  background-color: #e7eaf8;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

.question-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.question-info-text {
  margin: 0px auto;
}

button {
  height: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #7086f5;
}

.category-header {
  max-width: 500px;
  height: 30px;
  background-color: #e7eaf8;
  color: #0044e2;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  margin: 16px auto;
}

.category-header:hover {
  cursor: pointer;
}

.page-header {
  max-width: 200px;
  margin: 16px auto;
  color: black;
}

.create-question-form {
  max-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  margin: 16px auto;
  padding: 4px 16px;
  background-color: #e7eaf8;
  border-radius: 8px;
}

.question-option-input {
  width: 280px;
  height: 20px;
  margin: 16px auto;
}

.form-header {
  
}

.btn:disabled {
  background-color: #E0E0E0;
}

.leaderboard-user {
  max-width: 360px;
  display: flex;
  margin: 16px auto;
  flex-flow: row nowrap;
  padding: 4px 16px;
  background-color: #e7eaf8;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}